
<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-primary text-white">
            <td>Nome</td>
            <td>ISBN</td>
            <td>Categoria</td>
            <td>Professor</td>
        </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
        <tr class="bg-info text-white">
            <td><%= book[:name] %></td>
            <td><%= book[:isbn] %></td>
            <td><%= book[:kind] %></td>
            <td><%= book[:teacher] %></td>
        </tr>    
    <% end %>
    </tbody>
</table>